* {
  font-size: 2vw;
  font-family: 'Roboto', monospace;
}

.ui.menu {
  background-color: whitesmoke;
  max-height: 5vw;
}

#text {
  color: #ba7ca2;
  font-size: 2vw;
  font-family: 'Roboto', monospace;
}

#icon {
  color: #257eb6;
}
